/* * {
  outline: 1px dashed red;
} */

nav {
  display: flex;
  justify-content: space-around;
}

main #no-jobs-alert {
  margin: 2%;
}

main #search_job_form {
  display: flex;
  justify-content: center;
  margin: 2% 1%;
}

main #jobs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main #job-card {
  text-align: center;
  width: 30%;
  /* margin: 2% 2%; */
  border: 1px solid black;
}

main #paginator {
  width: 100%;
  text-align: center;
  margin: 5% 1%;
}
