/* * {
  outline: 1px dashed red;
} */

body {
  background-color: #979797;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #5523AA;
  padding: 0.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

body #title {
  display: flex;
  justify-content: center;
  margin: 2%;
  color: white;
}

body form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;
}

body form textarea {
  width: 100%;
}

body form .btn-light{
  width: 25%;
  background-color: #6A3CAA;
  border: none;
  color: white;
  margin-top: 2%;
}

body form .btn-light:hover {
  color: #6A3CAA;
}
