/* * {
  outline: 1px dashed red;
} */

body {
  background-color: #979797;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #5523AA;
  padding: 0.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
}

main h3 {
  color: white;
  margin: 2%;
}

main table {
  background-color: #5523AA;
  font-size: 1.2rem;
}

main table tr {
  color: white;
}

main .table tr:hover {
  color: #5523AA;
  background-color: white;
}

main table #actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

main table #actions button:hover {
  background-color: #5523AA;
  color: white;
}

main table #actions form {
  margin: 0 2%;
}

main #add-job .btn-primary {
  background-color: #5523AA;
  border: 1px solid #5523AA;
}

main #add-job .btn-light {
  background-color: #5523AA;
  border: none;
  color: white;
}

main #jobs-viewed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

main #viewed-jobs-prompt {
  color: #5523AA;
}

main #jobs-viewed h6 {
  width: 100%;
  margin: 3% 0 0 1%;
}

main #jobs-viewed #job-card {
  width: 30%;
  margin: 1%;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  color: #1D3C8E;
}

main #jobs-viewed #job-card .btn {
  background-color: #5523AA;
  color: white;
  margin: 1%;
}

main #jobs-viewed #paginator {
  display: flex;
  justify-content: center;
  width: 100%;
}

main #jobs-viewed #paginator a {
  margin: 0 2% 1% 2%;
}
