/* * {
  outline: 1px dashed red;
} */

body {
  background-color: #979797;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #5523AA;
  padding: 0.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
}

main #jobs-viewed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main #jobs-viewed h6 {
  width: 100%;
}

main #jobs-viewed #job-card {
  width: 30%;
  margin: 1%;
}

main #jobs-viewed #paginator {
  display: flex;
  justify-content: center;
  width: 100%;
}

main #jobs-viewed #paginator a {
  margin: 0 2% 1% 2%;
}
